* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: black;
}

h1 {
    color: white;
    font-family: Candara, monospace ;
}

input {
    width: 250px;
}

body {
    overflow: hidden;
    min-height: 100vh;
}

img {
    width: 100%;
    height: 100vh;
    position: center;
    background-size: cover;
    background-position: center;
}

section {
    position: relative;
    width: 100%;
    height: 100vh;
    cursor: url("image/prc.png"), pointer;
    background-size: cover;
    background-position: center;
}

span {
    position: absolute;
    width: 60px;
    height: 60px;
    background: url("image/hole.png");
    background-size: cover;
    background-position: center;
    pointer-events: none;
    transform: translate(0, 35px);
}

button {
    margin: 0 5px;
    padding: 0;
    border: none;
    cursor: pointer;
    width: 100px;
    height: 25px;
    background-color: #e8ae0e;
    border-radius: 16px;
}

.button {
    z-index: 5;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgb(70, 70, 70);
}

button:hover {
    background-color: #caeaf6;
}